html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.2;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.text-red {
  color: rgb(165, 3, 3);
}